<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{{ content }}</title>
    {% include 'layout_head.twig' %}
</head>


<body>
{% include 'layout_header.twig' %}


<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        {% include 'sidebar_nav.twig' %}
        {% include content %}
    </div>
</main>
{% include 'layout_footer.twig' %}
</body>

</html>

