<div class="col-md-3 g-mb-30 g-mb-0--md">
    <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
        <section>
            <ul class="list-unstyled mb-0">
                <li class="g-brd-gray-light-v7 mb-0">
                    <a class="d-flex align-items-center u-link-v5 g-parent g-py-15 active"
                       href="/users/view/{{ user.userId }}">
                        <span class="g-font-size-18 g-color-gray-light-v6 g-color-primary--parent-hover g-color-primary--parent-active g-mr-15">
                            <i class="hs-admin-user"></i>
                        </span>
                        <span class="g-color-gray-dark-v6 g-color-primary--parent-hover g-color-primary--parent-active">
                            User Information
                        </span>
                    </a>
                </li>
                <li class="g-brd-top g-brd-gray-light-v7 mb-0">
                    <a class="d-flex align-items-center u-link-v5 g-parent g-py-15"
                       href="/persons/view/{{ user.person.personId }}">
                        <span class="g-font-size-18 g-color-gray-light-v6 g-color-primary--parent-hover g-color-primary--parent-active g-mr-15">
                            <i class="hs-admin-write"></i>
                        </span>
                        <span class="g-color-gray-dark-v6 g-color-primary--parent-hover g-color-primary--parent-active">
                            Person Information
                        </span>
                    </a>
                </li>
                <li class="g-brd-top g-brd-gray-light-v7 mb-0">
                    <a class="d-flex align-items-center u-link-v5 g-parent g-py-15"
                       href="/users/change-password">
                        <span class="g-font-size-18 g-color-gray-light-v6 g-color-primary--parent-hover g-color-primary--parent-active g-mr-15">
                            <i class="hs-admin-write"></i>
                        </span>
                        <span class="g-color-gray-dark-v6 g-color-primary--parent-hover g-color-primary--parent-active">
                            Change Password
                        </span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>